[build]
rustflags = [
  "-C", "link-args=../../../runtime/build/libs/runtime-0.1.0.jar",
  "-C", "strip=none"
]

# Throwing a JVM exception will unwind and give a stack trace, no need for rust to handle unwinding.
[profile]
panic = "abort"
